# Ignore the build and lib dirs
program/lib
program/build
program/CMakeFiles
program/Testing
program/data/output/*.txt

# Ignore any executables
program/bin
.vscode
build

# Ignore Mac specific files
.DS_Store